<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--首页-->
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.sharetime.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <!--登录-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.sharetime.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <!--注册-->
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>com.sharetime.servlet.CreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/CreateServlet</url-pattern>
    </servlet-mapping>
    <!--忘记密码-->
    <servlet>
        <servlet-name>ForgetServlet</servlet-name>
        <servlet-class>com.sharetime.servlet.ForgetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetServlet</servlet-name>
        <url-pattern>/ForgetServlet</url-pattern>
    </servlet-mapping>
    <!--个人中心-->
    <servlet>
        <servlet-name>PersonalServlet</servlet-name>
        <servlet-class>com.sharetime.servlet.PersonalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonalServlet</servlet-name>
        <url-pattern>/PersonalServlet</url-pattern>
    </servlet-mapping>
    <!--图片验证码-->
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.sharetime.servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <!--获取大学名称-->
    <servlet>
        <servlet-name>SavePersonalInfoServlet</servlet-name>
        <servlet-class>com.sharetime.servlet.SavePersonalInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SavePersonalInfoServlet</servlet-name>
        <url-pattern>/SavePersonalInfoServlet</url-pattern>
    </servlet-mapping>
    <!-- 设置Session的有效时间:以分钟为单位-->
    <session-config>
        <session-timeout>100</session-timeout>
    </session-config>
</web-app>