body {
    padding: 0;
    margin: 0;
    background-color: #b5d4f6;
}

/*标题*/
.title_div {
    width: 100%;
    display: flex;
}

.title_div div {
    width: 100%;
    display: flex;
}

.title_div a {
    width: 10%;
    font-size: 4.5em;
    color: #9d9d9d;
    padding: 3% 2% 2% 2%;
    text-align: center;
    text-decoration: none;
}

.title_div a:active {
    color: #0f0f0f;
}

.title_div p {
    width: 80%;
    font-size: 3em;
    text-align: center;
    font-family: 楷体, serif;
}

/*横线*/
.line {
    width: 100%;
    height: 1px;
    background-color: #9d9d9d;
}

/*主界面*/
.main_div {
    width: 100%;

}

.logo {
    width: 80%;
    margin: 8% 0 0 10%;
}

/*手机号*/
.createDiv {
    width: 100%;
}

/*手机输入div*/
.phoneDiv {
    width: 100%;
}

input.phoneNumber {
    width: 70%;
    opacity: 0.5;
    padding: 3%;
    font-size: 3em;
    margin-left: 10%;
    border-radius: 15px;
    background-color: #d2f0f7;
    font-family: 楷体, serif;
    border: #9d9d9d solid 3px;
}
input.phoneNumber:focus{
    border: #3932c9 solid 2px;
}

/*后面判断的图片*/
a.phoneCheck {
    font-size: 3em;
    margin-left: 2%;
    padding: 0 1% 0 1%;
    border: #b5d4f6 solid 2px;
}

/*验证码区域*/
.check {
    width: 100%;
    margin: 2% 0 3% 0;
}

input.checkNumber {
    width: 40%;
    opacity: 0.5;
    padding: 3%;
    font-size: 3em;
    margin: 2% 0 0 10%;
    border-radius: 15px;
    background-color: #d2f0f7;
    border: #9d9d9d solid 3px;
    font-family: 楷体, serif;
}
input.checkNumber:focus{
    border: #3932c9 solid 2px;
}

button.btn {
    width: 30%;
    font-size: 3em;
    padding: 2%;
    margin-left: 5%;
    font-family: 楷体, serif;
    border-radius: 15px;
    background-color: #f8eef6;
}

button.btn:active {
    background-color: #d0d8d7;
}

/*注册按钮*/
button.createBtn {
    width: 80%;
    margin: 5% 0 0 10%;
    font-size: 3em;
    padding: 2%;
    border-radius: 15px;
    font-family: 楷体, serif;
    background-color: #1bc4f3;
}

button.createBtn:active {
    background-color: #1d9ef5;
}

/*隐私权限链接*/
.privacy {
    width: 100%;
    display: flex;
}

input.privacyCheck {
    margin: 5% 0 0 10%;
    zoom: 300%;
}

.privacy a {
    font-size: 2em;
    margin: 5% 0 0 2%;
    color: #8c8c8c;
}

/*用户协议框*/
.privacy_div {
    position: absolute; /*绝对布局才能悬浮*/
    border-radius: 15px;
    border: #9d9d9d solid 10px;
    overflow: hidden;
    width: 70%;
    height: 72%;
    padding: 0;
    margin-top: 20%;
    margin-left: 15%;
    font-size: 2em;
    z-index: 999999; /*这里是该元素与显示屏的距离，据说越大越好，但是我也没有看到效果，因为没有它也是可以的*/
    -webkit-transition: all .5s ease-in-out; /* css的transition允许css的属性值在一定的时间内从一个状态平滑的过渡到另一个状态 */
    -moz-transition: all .5s ease-in-out; /*这里为了兼容其他浏览器*/
    -o-transition: all .5s ease-in-out;
    transform: scale(0);
    background-color: #f6f7e4;
}

/*标题*/
.privacy_title {
    text-align: center;
    width: 100%;
    margin-top: 0;
    padding: 4% 0 4% 0;
    background-color: #ecedb1;
}

/*内容*/
.text_div {
    width: 80%;
    height: 80%;
    margin-left: 10%;
}

.privacy_txt {
    width: 100%;
    height: 100%;
    overflow-y: auto;

}

/*按钮*/
button.privacy_btn {
    width: 100%;
    font-size: 1.3em;
    background-color: #b9def0;
    margin-top: 2%;
    padding: 1% 0 1% 0;
    font-family: 楷体, serif;
}

button.privacy_btn:active {
    background-color: #85c4f9;
}

p.warn {
    display: none;
    color: #fb310e;
    font-size: 2.4em;
    margin: 5% 0 0 10%;
}

/*
注册成功页面*/

#createSucceed {
    background-color: #edfbf2;
    position: absolute;
    margin: 10% 0 0 20%;
    width: 60%;
    border-radius: 1em;
    text-align: center;
    padding-top: 5%;
    z-index: 999999; /*这里是该元素与显示屏的距离，据说越大越好，但是我也没有看到效果，因为没有它也是可以的*/
    -webkit-transition: all .5s ease-in-out; /* css的transition允许css的属性值在一定的时间内从一个状态平滑的过渡到另一个状态 */
    -moz-transition: all .5s ease-in-out; /*这里为了兼容其他浏览器*/
    -o-transition: all .5s ease-in-out;
    transform: scale(0);
}

#createSucceed p {
    font-family: 楷体, serif;
    font-size: 3.5em;
    color: #726e70;
    padding: 0 3% 0 3%;
}

#createSucceedBtn {
    width: 100%;
    display: flex;
    margin-top: 15%;
    padding: 0;
}

#createSucceedBtn p {
    width: 50%;
    background-color: #edfbf2;
    border-top: #b9b7b5 solid 1px;
    margin: 0;
    padding: 3%;
}

#leave {
    border-right: #b9b7b5 solid 1px;
}

#createSucceedBtn p:active {
    background-color: #d5d3d1;
}